<!doctype html>
<html>

<head>
  <title>Thermostat Group 8</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"></link>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="homepage.js"></script>
</head>

<body>
<div class="grid-container">

  <!-- Title Header -->
  <div class="container">
    <div class="row">
      <div class="col-10">
        <div class="box container-title">
          <h1>Crawler Controller</h1>
          <h2>Group 07</h2>
        </div><!-- /.box .container-title -->
      </div><!-- /.col-10 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <!-- Content -->
  <div class="row">

    <div class="col-10">
      <div class="container">
        <div class="box wrapper-content">

          <div class="container-header">
            <h3>Controller</h3>
            <hr class="divider"></hr>
          </div><!-- /.container-header -->

          <div class="container-controller">
            <div class="controller-button-container">
              <div class="button-row">
                <button class="btn btn-green" id="start-button">Start</button>
              </div>
              <div class="button-row">
                <button class="btn btn-red" id="stop-button" >Stop</button>
              </div>
            </div>

          </div><!-- /.container-content-->

        </div><!-- /.box .wrapper-content-->
      </div><!-- /.container -->
     </div><!-- /.col-5  -->

  </div><!-- /.row -->

</div><!-- /.grid-container -->
</body>

</html>
